<%= simple_form_for @cidadao, url: url_path do |f| %>
  <h4>Dados pessoais</h4>
    <div class="row">
      <div class="col-12">
        <%= f.input :nome_completo,
                    placeholder: "Nome completo",
                    class: "form-completo",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "nome_completo" } %>
      </div>
      <div class="col-4">
        <%= f.input :data_nascimento, as: :string ,
                    class: "form-pequeno",
                    required: true,
                    input_html: { type: 'date', autocomplete: "data_nascimento" } %>
      </div>
      <div class="col-4">
        <%= f.input :cpf,
          placeholder: "555.555.555-55",
          required: true,
          size: 11,
          input_html: { autocomplete: "cpf" } %>
      </div>
      <div class="col-4">
        <%= f.input :cns,
          placeholder: "555 5555 5555 5555",
          required: true,
          size: 15,
          input_html: { autocomplete: "cns"} %>
      </div>
      <div class="col-7">
        <%= f.input :email,
                    placeholder: "E-mail",
                    class: "form-completo",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>
      <div class="col-1">
      </div>
      <div class="col-4">
        <%= f.input :telefone,
          placeholder: "(00) 0000-0000",
          required: true,
          input_html: { autocomplete: "telefone", class:'telefone-masked'  } %>
      </div>
      <div class="col-6">
        <%= f.input :status, as: :radio_buttons,
          include_blank: false,
          collection: [['Ativo', true], ['Inativo', false]] %>
      </div>
    </div>
    <div>
      <%= f.input :photo, as: :file %>
    </div>
    <%= f.fields_for :endereco do |ff| %>
      <h4>Endereço</h4>
      <div class="row g-3">
        <div class="col-md-4">
          <%= ff.input :cep,
                      placeholder: "09555-555",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "cep", class:'cep-masked cep' } %>
        </div>
        <div class="col-md-2">
          <%= ff.input :uf, collection: [["AC"],
                                        ["AL"],
                                        ["AP"],
                                        ["AM"],
                                        ["BA"],
                                        ["CE"],
                                        ["DF"],
                                        ["ES"],
                                        ["GO"],
                                        ["MA"],
                                        ["MT"],
                                        ["MS"],
                                        ["MG"],
                                        ["PA"],
                                        ["PB"],
                                        ["PR"],
                                        ["PE"],
                                        ["PI"],
                                        ["RJ"],
                                        ["RN"],
                                        ["RS"],
                                        ["RO"],
                                        ["RR"],
                                        ["SC"],
                                        ["SP"],
                                        ["SE"],
                                        ["TO"]],
                      label_method: :first, value_method: :first,
                      class: "form-pequeno",
                      placeholder: "",
                      required: true,
                      input_html: { autocomplete: "uf" } %>
        </div>
        <div class="col-6">
          <%= ff.input :cidade,
                      id: "cidade",
                      placeholder: "",
                      class: "form-completo",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "cidade" } %>
        </div>
        <div class="col-12">
          <%= ff.input :logradouro,
                      id: "logradouro",
                      class: "form-completo",
                      placeholder: "Rua, Av., Trav.",
                      required: true,
                      input_html: { autocomplete: "logradouro" } %>
        </div>
        <div class="col-6">
          <%= ff.input :complemento,
                      id: "complemento",
                      class: "form-pequeno",
                      placeholder: "Apto., Bloco",
                      required: true,
                      input_html: { autocomplete: "complemento" } %>        
        </div>
        <div class="col-6">
          <%= ff.input :bairro ,
                      id: "bairro",
                      class: "form-pequeno",
                      required: true,
                      input_html: { autocomplete: "bairro" } %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, "Adicionar munícipe", class:"btn-home" %>
    </div>
<% end %>