<div class="container">
  <div class="d-flex justify-content-around align-items-center mb-3">
    <div class="p-2"><h1 class="text-center mt-2">MUNÍCIPES</h1></div>
    <div class="p-2"><a class="btn btn-home" href="/cidadaos/new" role="button">Novo Munícipe</a></div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nome Completo</th>
        <th scope="col">CPF</th>
        <th scope="col">CNS</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cidadaos.each do |cidadao| %>
          <tr onclick="location.href='<%= cidadao_path(cidadao) %>'">
              <th scope="row"></th>
                <td><%= cidadao.nome %> <%= cidadao.sobrenome %></td>
                <td><%= cidadao.cpf %></td>
                <td><%= (cidadao.cns) %></td>
                <td><%= l(cidadao.data_nascimento, format: :default) %></td>
                <td><%= cidadao.status? ? 'Ativo' : 'Inativo' %></th>
                <td></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>