<div class="my-card-index">
  <h1>Lista de Munícipes</h1>
  <div class="justify-between mt-4 mb-2">
    <%= form_tag(cidadaos_path, method: :get) do %>
      <%= text_field_tag :query,
                params[:query],
                as: :nome
              %>
      <%= submit_tag "Buscar", class: "button-orange-sm", remote: true %>        
    <% end %>
    <a class="simple-button" href="/cidadaos/new" role="button">Novo Munícipe</a>
  </div>
  <table class="styled-table-index">
    <thead>
      <tr>
        <th>Nome Completo</th>
        <th>CPF</th>
        <th>CNS</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @cidadaos.each do |cidadao| %>
        <tr onclick="location.href='<%= cidadao_path(cidadao) %>'">
          <td><%= cidadao.nome %> <%= cidadao.sobrenome %></td>
          <td><%= cidadao.cpf.unpack('A3A3A3A2').join('-') %></td>
          <td><%= (cidadao.cns) %></td>
          <td><%= cidadao.status? ? 'Ativo' : 'Inativo' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>