<div class="d-flex justify-content-center align-items-center mb-3">

  <div class="p-2 ml-3"><h1 class="text-center mt-2">MUNÍCIPE</h1></div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-sm-9">
      <h4>Dados pessoais</h4>
      <div class="row row-cols-3">
        <div class="col"><h5>Nome Completo</h5><p><%= @cidadao.nome_completo %></p></div>
        <div class="col"><h5>CPF</h5><p><%= @cidadao.cns %></p></div>
        <div class="col"><h5>CNS</h5><p><%= @cidadao.cns %></p></div>
      </div>
      <div class="row row-cols-3">
        <div class="col"><h5>Data de Nascimento</h5><p><%= l(@cidadao.data_nascimento, format: :default) %></p></div>
        <div class="col"><h5>Telefone</h5><p><%= @cidadao.telefone %></p></div>
        <div class="col"><h5>E-mail</h5><p><%= @cidadao.email %></p></div>
      </div>
      <div class="row row-cols-3">
        <div class="col"><h5>Status</h5><p><%= @cidadao.status? ? 'Ativo' : 'Inativo' %></p></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <hr>
      <h4>Endereço</h4>
      <div class="row">
        <div class="col-sm"><h5>Logradouro</h5><p><%= @cidadao.endereco.logradouro %></p></div>
        <div class="col-sm"><h5>Complemento</h5><p><%= @cidadao.endereco.complemento %></p></div>
        <div class="col-sm"><h5>Bairro</h5><p><%= @cidadao.endereco.bairro %></p></div>
      </div>
      <div class="row">
        <div class="col-sm"><h5>Cidade</h5><p><%= @cidadao.endereco.cidade %></p></div>
        <div class="col-sm"><h5>UF</h5><p><%= @cidadao.endereco.uf %></p></div>
        <div class="col-sm"><h5>Cep</h5><p><%= @cidadao.endereco.cep %></p></div>
      </div>
  <div class="d-flex flex-row justify-content-between mt-3">
      <a class="btn btn-home m-3" href='<%= edit_cidadao_path(@cidadao) %>' role="button">Editar Munícipe</a>
      <a class="btn btn-home m-3" href="/cidadaos/" role="button">Listar Munícipes</a>
  </div>
    </div>
  </div>
</div>