<div class="show-container">
  <div class="profile-card">
    <% if @cidadao.photo.present? %>
        <%= cl_image_tag @cidadao.photo.key %>
    <% else %>
        <%= image_tag "avatar-img.png", style:'height: 150px; width: 150px; border-radius: 50%;' %>
    <% end %>
    <hr>
    <p><%= @cidadao.nome.titleize %> <%= @cidadao.sobrenome.titleize %></p>

    <table class="styled-table-vertical">
      <tr>
        <th>CPF</th>
        <td><%= @cidadao.cpf.unpack('A3A3A3A2').join('-') %></td>
      </tr>
      <tr>
        <th>Data de Nascimento</th>
        <td><%= @cidadao.data_nascimento.strftime("%d/%m/%y") %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= @cidadao.status? ? 'Ativo' : 'Inativo' %></td>
      </tr>
    </table>
  </div>
</div>

<div class="my-card-show">
  <div class="justify-between mb-3">
    <a class="simple-button" href="/cidadaos/" role="button">Lista de Munícipes</a>
    <a class="simple-button" href='<%= edit_cidadao_path(@cidadao) %>' role="button">Editar Munícipe</a>
  </div>
  <h2>Dados do Munícipe</h2>
  <table class="styled-table-show">
    <tr>
      <th>Nome Completo:</th>
      <td><%= @cidadao.nome.titleize %> <%= @cidadao.sobrenome.titleize %></td>
    </tr>
    <tr>
      <th>CPF:</th>
      <td><%= @cidadao.cpf.unpack('A3A3A3A2').join('-') %></td>
    </tr>
    <tr>
      <th>CNS:</th>
      <td><%= @cidadao.cns %></td>
    </tr>
    <tr>
      <th>Data de Nascimento:</th>
      <td><%= @cidadao.data_nascimento.strftime("%d/%m/%y") %></td>
    </tr>
    <tr>
      <th>Telefone:</th>
      <td><%= @cidadao.telefone %></td>
    </tr>
    <tr>
      <th>E-mail:</th>
      <td><%= @cidadao.email %></td>
    </tr>
    <tr>
      <th>Status:</th>
      <td><%= @cidadao.status? ? 'Ativo' : 'Inativo' %></td>
    </tr>
  </table>
</div>

<div class="my-card-show">
  <h2>Endereço do Munícipe</h2>
  <table class="styled-table-show">
    <tr>
      <th>Logradouro:</th>
      <td><%= @cidadao.endereco.logradouro %></td>
    </tr>
    <tr>
      <th>Complemento:</th>
      <td><%= @cidadao.endereco.complemento %></td>
    </tr>
    <tr>
      <th>Bairro:</th>
      <td><%= @cidadao.endereco.bairro %></td>
    </tr>
    <tr>
      <th>Cidade:</th>
      <td><%= @cidadao.endereco.cidade %></td>
    </tr>
    <tr>
      <th>UF:</th>
      <td><%= @cidadao.endereco.uf %></td>
    </tr>
    <tr>
      <th>Cep:</th>
      <td><%= @cidadao.endereco.cep %></td>
    </tr>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>
  <table class="styled-table-show">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>
</div>